* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-size: 20px;
}
.section {
  margin-top: 20rem;
}
.row {
  text-align: center;
}
.img:hover::before {
  content: 'Good news';
  color: white;
  padding-top: 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
